body {
  margin: 0 auto;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

.testimonial-slider {
  position: relative;
  overflow: hidden;
}

.testimonial-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial-item {
  flex: 1 0 100%;
  min-width: 100%;
  box-sizing: border-box;
}
button {
  z-index: 10;
}

.transition-max-height {
  transition: max-height 0.5s ease-in-out;
}
